[Desktop Entry]
Encoding=UTF-8
Name=到 https://img-blog.csdn.net/20181006135621655?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2tfa29yaXM=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70 的链接
Type=Link
URL=https://img-blog.csdn.net/20181006135621655?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2tfa29yaXM=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70
Icon=image-png
Name[zh_CN]=1
